<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDo List</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat&family=Croissant+One&family=Libre+Baskerville&family=Pacifico&family=Roboto+Slab&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/main.css" />
  </head>
  <body>
    <ul>
      <li>
        <img src="images/calender.svg" class="icon" /><a href="/">Today</a>
      </li>
      <li>
        <img src="images/word.svg" class="icon" /><a href="/work">Work</a>
      </li>
    </ul>
  </body>
</html>
